{% extends "appsolver/base.html" %}
{% load static %}

{% block title %}
Wordle-Solve
{% endblock %}

{% block body %}

<div class='container row col-12'>
    <div class='col-6'>
        {% include 'appsolver/board.html' %}  
    </div>

    <div id="guessform" class="col-6">
        <form id='gword' action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" 
                    name="guessword" placeholder="Your Guess" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

</div>
{% include 'appsolver/wordlist.html' %}

<script>

</script>

{% endblock %}