{% extends "appsolver/base.html" %}
{% load static %}

{% block title %}
Wordle-Solve
{% endblock %}

{% block body %}

<div class='container row justify-content-center'>
    <div class='col-lg-6 offset-lg-3'>
        {% include 'appsolver/board.html' %}  
    </div>

    <div id="guessform" class="col-12 col-lg-6">
        <form id='gword' action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" hidden
                    name="guessword" id='guessword' placeholder="Your Guess" type="text" value=''>
            </div>
        </form>
    </div>

</div>

<div id='wordform' class='container row justify-content-center'>

    <div class='col-12 col-lg-6 text-center'>

        {% if nowords %}
            <h2>Sorry - the game is ended because no dictionary words satisfy your response</h2>
        {% elif noguesses %}
            <h2>Sorry - the game is ended because there are no further guesses</h2>
        {% else %}
            <h2>Top suggested guesses:</h2>
            <ul class='list-group'>
                {% for word in topwords %}
                    <li class='list-group-item'>
                        <p id='{{ word }}' onclick='guess_word("{{ word }}")'> {{ word }}</p>
                    </li>
                {% endfor %}
                <form id='dword' action="{% url 'guess' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" hidden
                        name="delword" id='delword' type="text">
                        <p><button aria-label='delete item' class='btn btn-sm' type='submit'>X</button>
                            Delete a word Wordle doesn't recognize</p>
                    </div>
                </form>
            </ul>

        {% endif %}
    </div>

</div>

<script>

    function guess_word(word) {
        let box = document.querySelector('#guessword');
        let box2 = document.querySelector('#delword');
        box.setAttribute('value', word);
        box2.setAttribute('value', word);
        let allwords = document.querySelectorAll('li p');
        allwords.forEach((thisValue) => {
            thisValue.removeAttribute('class')
        });
        let theword = document.querySelector('#' + word)
        theword.setAttribute('class', 'text-light bg-dark');        
    }

    const aleph = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    function checkKeys(event) {
        var k = event.key;
        const lowid = {{ lowid }};
        const highid = {{ highid }};
        var box = document.querySelector('#guessword');
        var partword = box.getAttribute('value');
        if (aleph.includes(k) || aleph.includes(k.toUpperCase())) {
            k = k.toUpperCase();
            box.setAttribute('value', partword + k);
            let c = lowid + partword.length; 
            if (c < highid) {
                document.getElementById(c).innerHTML = k;  
            }
        }
        else if (k == 'Backspace' || k == 'Delete') {
            console.log('caught backspace');
            console.log('partword is');
            console.log(partword);
            if (partword.length > 0) {
                box.setAttribute('value', partword.substring(0, partword.length - 1));
                let c = lowid + partword.length - 1;
                if (c < highid) {
                    document.getElementById(c).innerHTML = ' ';
                }
            }
        }
        else if (k == 'Enter') {
            if (partword.length == highid - lowid) {
                document.getElementById('gword').submit();
            }
        }
        // all other keys are ignored
    }

    document.addEventListener('DOMContentLoaded', () => {
        window.addEventListener('keydown', checkKeys);
    });

</script>

{% endblock %}