{% extends "appsolver/base.html" %}
{% load static %}

{% block title %}
Settings
{% endblock %}

{% block body %}


<div class="menuheading">Settings</div>

<div class="container">
    <form id='settings' action="{% url 'settings' %}" method="post">
        {% csrf_token %}
        <div class='row justify-content-center'>
            <div class='col-12 col-sm-6'>
                <div class='form-group p-1em'>
                    <label id="wlenlab" for="wlen:" class="form-label">Word Length: 5</label>
                    <input type="range" value='5' class='slider' oninput='showvalue(this);'
                        min="5" max="12" id="wlen" name='wlen'>
                </div>
                <div class='form-group p-1em'>
                    <label id="glenlab" for="glen:" class="form-label">Number of Guesses: 6</label>
                    <input type="range" value='6' class='slider' oninput='showvalue2(this);'
                            min="4" max="10" id="glen" name='glen'>
                </div>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class='col-12 col-sm-6'>
                <div class='form-group p-1em'>
                    <div class='form-check'>
                        <input class='form-check-input' type='radio' name='dictionary' id='tdictionary' value='times' 
                        {% if dict == 'td' %}
                            checked
                        {% endif %}
                        >
                        <label class='form-check-label' for='tdictionary'>
                            New York Times Wordle dictionary (5-letter words only)
                        </label>
                    </div>
                    <div class='form-check'>
                        <input class='form-check-input' type='radio' name='dictionary' id='ddictionary' value='dd'
                        {% if dict == 'dd' %}
                            checked
                        {% endif %}
                        >
                        <label class='form-check-label' for='ddictionary'>
                            dwyl's English Words file on Github (all word lengths)
                        </label>
                    </div>
                </div>  
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class='col-12 col-sm-6 text-center'>
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-secondary" href="{% url 'index' %}">Cancel</a>
            </div>
        </div>
    </form>

</div>
      
<script>
    function showvalue(i) {
        console.log('called showvalue - value ');
        console.log(i.value);
        i.setAttribute('value',i.value);
        document.querySelector('#wlenlab').innerHTML = 'Word Length: ' + i.value;
        if (i.value == 5) {
            document.querySelector('#tdictionary').disabled = false;
        }
        else {
            document.querySelector('#tdictionary').disabled = true;
            document.querySelector('#ddictionary').checked = true
            
        }
    }
        
    function showvalue2(i) {
        console.log('called showvalue2 - value ');
        console.log(i.value);
        i.setAttribute('value',i.value);
        document.querySelector('#glenlab').innerHTML = 'Number of Guesses: ' + i.value;
    }
</script>

{% endblock %}