{% extends "appsolver/base.html" %}
{% load static %}

{% block title %}
Wordle-Solve validate
{% endblock %}

{% block body %}

<div class='container row'>
    <div class='col-12 col-lg-6'>
        {% include 'appsolver/board.html' %}
    </div>
    
    <div id="validateform" class="col-12 col-lg-4">
        <form id='validation' action="{% url 'validate' %}" method="post">
            {% csrf_token %}
            <h4>Click on each letter of your last guess to change the color to match the wordle response</h4>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" 
                id="validateguess" name="validateguess" type="hidden" value="">
                <button class="btn btn-primary" type="submit">Validate</button>
            </div>
        </form>
    </div>
    
</div>


<script>
    
    /* handle clicks on board letters in current guess, rotating them as necessary in color
       keep record of color to pass back to server app */

    function recordloc(cid) {
        console.log(cid);
        var lowid = {{ lowid }};
        var highid = {{ highid }};
        var current_response = '';
        var cell, ccolor, newcolor;
        for (let c = lowid; c < highid; c++) {
            cell = document.getElementById(c)
            ccolor = cell.getAttribute('data');
            if (c == cid) {
                if (ccolor == ' ') {
                    newcolor = 'B';
                    cell.setAttribute('data', newcolor);
                    cell.setAttribute('class', 'noselect text-light bg-dark');
                    console.log('was blank now black');
                }
                if (ccolor == 'B') {
                    newcolor = 'Y'
                    cell.setAttribute('data', newcolor);
                    cell.setAttribute('class', 'noselect text-light bg-warning');
                    console.log('was black now yellow');
                }
                if (ccolor == 'Y') {
                    newcolor = 'G';
                    cell.setAttribute('data', newcolor);
                    cell.setAttribute('class', 'noselect text-light bg-success');
                    console.log('was yellow now green');
                }
                if (ccolor == 'G') {
                    newcolor = 'B';
                    cell.setAttribute('data', newcolor);
                    cell.setAttribute('class', 'noselect text-light bg-dark');
                    console.log('was gold now blank');
                }
                ccolor = newcolor
            }
            current_response = current_response + ccolor;
        }
        document.getElementById('validateguess').setAttribute('value', current_response);
        console.log('returned response:');
        console.log(current_response);
    }


    document.addEventListener("DOMContentLoaded", function(event) {
        let allcells = document.querySelectorAll('td');
        console.log('setting onclick for cells numbering');
        console.log(allcells.length);
        allcells.forEach((thisValue) => {
            thisValue.setAttribute('onclick', 'recordloc(id)');
        });
    });

</script>

{% endblock %}